@model IEnumerable<MovieAppCore.Entity.Models.Movie>

<div class="row">
        <div class="col-md-4" style="height:100px;">
           <div class="alert alert-success">Movie 1</div>
        </div>
        <div class="col-md-4" style="height:100px;">
            <div class="card" style="width: 18rem;">
                <img height="100" width="100" src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Movie title</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-outline-primary">Click</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="height:100px;background-color:gray">Movie 3</div>
</div>

    <div>
        <hr />
        <a asp-controller="Movies" asp-action="MovieEntry">Movie Entry</a>
        <hr />
    </div>
<div class="row">
    <div class="col-12">
        <h3>Movies</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Movie Id</th>
                    <th>Movie Name</th>
                    <th>Movie Description</th>
                    <th>Movie Type</th>
                    <th>Movie Language</th>
                    <th>Movie Poster</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    string imageBase64Data =
    Convert.ToBase64String(movie.ImgPoster);
                    string imageDataURL =
                string.Format("data:image/jpg;base64,{0}",
                imageBase64Data);
                    <tr><td>@movie.MovieId</td>
                        <td>@movie.MovieName</td>
                        <td>@movie.MovieDescription</td>
                        <td>@movie.MovieType</td>
                        <td>@movie.MovieLanguage</td>
                <td><img height="50" width="50" src="@imageDataURL" /></td>
                <td><a asp-controller="Movies" asp-action="EditMovie" 
                    asp-route-MovieId="@movie.MovieId">Edit</a></td>
                <td><a asp-controller="Movies" asp-action="DeleteMovie" 
                    asp-route-MovieId="@movie.MovieId">Delete</a></td></tr>
                }
            </tbody>
        </table>
    </div>
</div>

//http://localhost:34234/Movies/EditMovie?MoviedId=2
